<div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h1>ユーザー一覧</h1>
          <table class="table table-hover table-inverse">
            <tbody>
              <tr>
              <% @customers.each do |customer| %>
                <td><%= link_to customer.name, customer_path(customer.id) %></td>
                <td><%= customer.introduction %></td>
                <td>フォロー<%= customer.followers.count %></td>
                <td>フォロワー<%= customer.followeds.count %></td>
                <td>
                  <% if current_customer != customer %>
                    <% if current_customer.following?(customer) %>
                      <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete, class: "btn btn-danger" %>
                    <% else %>
                      <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post, class:"btn btn-success" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
</div>